<section id="features">
  <div class="container">
    <div class="row text-center">
        <h1 class="text-center ">Достоинства нашего приложения</h1>
      <div class="row padding">
        <div class="col-md-4">
          <i class="fa fa-book fa-4x" aria-hidden="true"></i>
          <h4>Cправочник</h4>
          <p>Самые актуальные  адреса,<br>
            телефоны и графики<br>
            работ организаций. Возможно<br>
            использование без Интернета.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
          <h4>Новости</h4>
        <p>И не только о политике.</p>
        </div>
        <div class="col-md-4">
        <i class="fa fa-bell-o fa-4x" aria-hidden="true"></i>
          <h4>Push-уведомления</h4>
        <p>О премьерах, интересных<br>
          новостях, различных<br>
          мероприятиях и акциях.</p>
        </div>
      </div>
      <div class="row padding ">
        <div class="col-md-4">
          <i class="fa fa-video-camera fa-4x" aria-hidden="true"></i>
          <h4>Афиши</h4>
        <p>Узнайте, где лучше всего<br>
            провести свободное<br>
            время.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
          <h4>Дисконтная программа</h4>
        <p>Круг партнеров<br>
            постоянно увеличивается</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
          <h4>Акции</h4>
        <p>Узнай все об акциях,<br>
            проводимых в городе.</p>
        </div>
      </div>
    </div>
  </div>
</section>
