<section id="video">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h3 class="social" >Мы в cоциальных сетях</h3>
        <p class="social_text">Чтобы узнать наши последние новости или просто связаться с нами.
          Вы можете посетить наши группы в социальных сетях.
        </p>
        <a href="https://vk.com/moy_orsk"> <i class="fa fa-vk fa-3x" aria-hidden="true"></i></a>
        <a href="https://ok.ru/moyorsk "><i class="fa fa-odnoklassniki fa-3x"  aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/moy_orsk/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i> </a>
      </div>
      <div class="col-md-8">
        <h1 class="">Промо ролик</h1>
        <div class="video-responsive ">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I_RMQSJ-dWs" allowfullscreen wmode="transparent"></iframe>
        </div>
      </div>
      </div>
  </div>
</section>
