<div class="container">
    <h1>Your Todo List</h1>
    <ul class="list-group">
        <div *ngFor="let todo of (todos$ | async)" >
            <li class="list-group-item" *ngIf="todo.uid">
                <app-todo [todo]="todo"></app-todo>
            </li>
        </div>
        <li class="list-group-item">
            <app-todo-edit [cancelable]="false"></app-todo-edit>
        </li>
    </ul>
</div>

<div class="container">
    <h1>Your Advert List</h1>
    <ul class="list-group">
        <div *ngFor="let advert of (adverts$ | async)" >
            <li class="list-group-item" *ngIf="advert.uid">
                <app-advert [advert]="advert"></app-advert>
            </li>
        </div>
        <li class="list-group-item">
            <app-advert-edit [cancelable]="false"></app-advert-edit>
        </li>
    </ul>
</div>