<!--<p>
  discount works!
</p>-->
<section id="discount">
  <div class="container">
    <div class="row text-center">
      <h1 class="">Дисконтная программа</h1>
      <div class="row">
      <div class="col-md-6">
        <img src="assets/img/Discount_card.png" alt="Дисконтная программа Мой Орск" title="Дисконтная программа" class="img-responsive center-block">
      </div>
      <div class="col-md-6">
        <p class="number">Покупки</p>
        <p class="number-text">Совершайте покупки в магазинах
          у наших партнеров по программе</p>
          <p class="number">Услуги</p>
          <p class="number-text">
          Приобретайте услуги у наших
          партнеров по программе
           <p class="number">Карта или приложение</p>
          <p class="number-text  ">Предъявите нашу дисконтную
          карту или наше скачанное
          мобильное  приложение 
          и получите скидку</p>
      </div>

      </div>
      <div class="row text-center padding">
        <div class="col-md-12">
          <h2 class="number">Наши партнеры по Дисконту</h2>

          <div class="col-md-4">
            <h3 class="number">"Новая ванна"</h3>
            <p>реставрация ванн</p>
            <p>Орск, Новотроицк, Гай</p>
            <button data-toggle="modal" data-target="#novaya_vanna">Подробнее</button>
          </div>
          <div class="col-md-4">
                <h3 class="number">"Вега"</h3>
                <p>салон штор</p>
                <p>г. Орск, ул. Тагильская, 2б</p>
                <button data-toggle="modal" data-target="#vega">Подробнее</button>
          </div>
          <div class="col-md-4">
                <h3 class="number">"Гамма-Трикотаж"</h3>
               <p>Трикотажные изделия</p>
               <p>г. Орск, пр-кт Ленина д. 60</p>
               <button data-toggle="modal" data-target="#gamma-trokotaj">Подробнее</button>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>
